@import './variables';
@import './mixins';
@import './product-card';
@import './category-card';
@import './timeless';
@import './contact-us';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 16px;

  @include on-desktop {
    padding: 32px 72px;
  }

  &__logo-img {
    display: block;
    height: 35px;
  }

  &__icons {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__icon {
    display: block;

    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }

    &--phone {
      background-image: url('../../images/Phone-number.png');
    }

    &--burger {
      background-image: url('../../images/Icon-Burger-menu.png');
    }
  }
}

.page {
  scroll-behavior: smooth;

  display: grid;
  row-gap: 40px;

  margin-bottom: 300px;

  font-family: $main-font;
  color: $primary-dark;

  &__body {
    margin: 0;
    line-height: 1.5;
  }


  &__menu {
    pointer-events: none;

    position: fixed;
    z-index: 1000;
    inset: 0;

    overflow-y: auto;
    display: flex;
    flex-direction: column;

    padding: 16px;

    opacity: 0;
    background-color: $white;

    transition: opacity 0.3s ease;

    @include on-desktop {
      padding: 32px 72px;
    }

    &:target {
      pointer-events: all;
      opacity: 1;
    }

  }
}


.menu {
  &__nav {
    flex-grow: 1;
    margin-top: 64px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: $primary-dark;
    text-decoration: none;
    text-transform: capitalize;

    transition: color 0.3s ease;

    &:hover {
      color: $orange;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 40px;
  }

  &__phone, &__call-to-order {
    font-size: 20px;
    font-weight: 700;
    color: $primary-dark;
    text-decoration: none;
  }

  &__call-to-order {
    text-transform: uppercase;
  }
}


.close {
  display: block;
  width: 32px;
  height: 32px;
  background: url('../../images/icon-close.png') center / contain no-repeat;
}


.page:has(.page__menu:target) {
  overflow: hidden;
}





.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
              url('../../images/header-bg.png') center bottom / cover no-repeat;

  &__bottom {
    padding: 0 16px 40px;

    @include on-desktop {
      padding: 0 72px 80px;
    }
  }

  &__title {
    margin: 0;

    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
    color: $white;

    @include on-desktop {
      font-size: 48px;
    }
  }
}

.footer {
  z-index: -1;
}

