$primary-dark: #1b2129;
$white: #fff;
$accent-autumn: #a47551;
$main-font: Manrope, sans-serif;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$mobile-min-width: 320px;
$effect-duration: 0.3s;
$background-color-white: #F9F9F9;
$orange: #ff8a00;
$orange-dark: #e67c00;
$grey: #7d7d7d;
$grey-dark: #313942;
$black: black;
